:root {
    --rojo: #E50914;
    --fondo: #181818;
}

body {
    background: var(--fondo) !important;
    /*font-family: "Roboto Mono", monospace;*/
}

header {
    background: #242423;
    padding: 1em;
    /* border: 4px solid #FFF; */
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5em;
}

.contenedor-header a {
    text-decoration: none;
}

.titulo-logo-main {
    display: flex;
}

.nombre-pagina {
    /* color: #a663cc; */
    color: #fff;
    font-size: 2.5em;
    padding: 0.5em 0.5em 0 0.5em;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    transition: all 0.8s;
    /* font-size: 40px; */
    /* text-shadow: -1.5px 0 #fff, 0 1.5px #fff, 1.5px 0 #fff, 0 -1.5px #fff; */
}

.nombre-pagina:hover {
    color: #c19ee0;
}

.imagen-titulo {
    width: 4em;
    filter: drop-shadow(0 0 0.5rem #a663cc);
    object-fit: scale-down;
}

.nav-principal a {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    color: #ced4da;
    text-decoration: none;
    margin-right: .5em;
    transition: all 0.8s;
}

.nav-principal a:hover,
a.activo {
    color: #a663cc;
}

/*Contenedor mensaje bienvenida */
.contenedor-mensaje {
  background: #242423;
  width: 50%;
  margin: 1.5em auto;
  border-radius: 0.8em;
  border: 5px dotted #ac46a1;
  box-shadow: 0 0 30px #ac46a1;
  padding: 1.2em;
}

.contenedor-mensaje p {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: #FFF;
}

/* Series recomendadas */
.titulo-series {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    font-size: 2em;
    margin: 1em 3em;
    text-align: center;
}

.carousel-caption {
    padding-bottom: 3.25rem !important;
}

.sombra-carrusel {
    background: linear-gradient(rgba(0, 0, 0, .05) 0%, #000 100%);
}

.imagen-carrusel {
    display: block;
    margin: auto;
    width: 100%;      /* o max-width */
    height: 100%;     /* importante para que object-fit funcione */
    object-fit: cover; /* o contain, según lo que quieras */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}


.degradado-negro {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  pointer-events: none;
}

.contenedor-sinopsis-recomendadas {
    width: 50%;
    text-align: justify;
    color: #FFF;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    line-height: normal;
}

.contenedor-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1em 6em;
}

.contenedor-posters img, 
.contenedor-posters-series img{
    width: 15em;
    margin: 0 auto;
    transition: all 1s;
}

.contenedor-posters-series {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1em 6em;
    margin-bottom: 4em;
    gap: 2em;
    padding-left: 2em;
}

/* Pie de página */
footer {
    background-color: #242423 !important;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* padding: 0.6em 0; */
    /* display: flex; */
    justify-content: space-between;
    text-align: center;
}

.bg-body-tertiary {
    background-color: #242423 !important;
}

.copyright {
    color: #fff;
    text-decoration: none;
}

.contenedor-redes-sociales {
    display: flex;
    flex-direction: column;
    margin: 0 6em;
}

.titulo-footer {
    color: #fff;
    font-size: 1.6em;
    margin: 0.6em 0;
    /* padding-right: 8em; */
}

.contenedor-redes-sociales div {
    margin: auto;
}

.contenedor-redes-sociales a {
    font-size: 1.3em;
    color: #ced4da;
    text-decoration: none;
    transition: all 0.5s;
}

.contenedor-redes-sociales div {
    margin: 0.6em;
}

.flex-redes {
    display: flex;
    justify-content: space-between;
}

.fa-brands,
.fa-solid {
    padding: 0.3em;
}

.fa-paypal {
    margin-right: 0.3em;
}

.flex-redes a:hover {
    color: #fff;
}

/* Preguntas */
.contenedor-preguntas {
    display: flex;
    flex-direction: column;
    margin: 0 6em;
}

.contenedor-preguntas a {
    color: #ced4da;
    font-size: 1.3em;
    text-decoration: none;
    display: block;
    margin: 0.4em 0;
    transition: all 0.5s;
}

.contenedor-preguntas a:hover {
    color: #fff;

}

.contenedor-preguntas div {
    display: flex;
    flex-direction: column;
    margin: 0.6em 0;
}

/* .copyright {
    display: block;
    padding: 0.6em;
    color: #fff;
    text-align: center;
} */

/*Media Queries*/
@media screen and (min-width:320px) and (max-width: 570px) {
    .nav-principal a {
        display: none;
    }
    .contenedor-header {
        margin: 0 auto;
        justify-content: center;
    }
    .titulo-logo-main {
        align-items: center;
    }
    .contenedor-mensaje {
        width: 70%;
    }
    .titulo-series {
        margin: 0 auto;
        font-size: 1.5em;
        text-align: center;
    }
    .contenedor-posters  {
        margin: 1em auto;
        justify-content: center;
        gap: 0.5em;
    }

    .contenedor-posters img {
        width: 20em;
        border-radius: 10px;
        box-shadow: 0px 0px 3px #fff;
    }
    .contenedor-posters-series {
        margin: 2em auto;
        justify-content: center;
        gap: 1em;
    }

    .contenedor-posters-series img {
        /* width: 20em; */
        border-radius: 10px;
        /* border: 1px solid #fff; */
        box-shadow: 0px 0px 3px #fff;
    }

    footer {
        flex-direction: column;
    }

    .contenedor-redes-sociales {
        margin: 0 3em;
    }

    .titulo-sociales {
        padding: 0;
        text-align: center;
    }

    .redSocial {
        display: none;
    }

    .flex-redes {
        justify-content: center;
    }

    .flex-redes ul {
        display: flex;
    }

    .flex-redes div {
        margin: 0;
    }

    .contenedor-preguntas {
        margin: 0 3em;
    }

    .contenedor-preguntas h3 {
        padding: 0;
    }
    .contenedor-preguntas a {
        font-size: 1.2em;
        text-align: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .nombre-pagina {
        font-size: 1.8em;
    }
    .imagen-titulo {
        width: 3.5em;
    }
    
    .contenedor-mensaje p {
        font-size: 0.6em;
        text-align: center;
    }

    .contenedor-posters img {
        width: 15em;
    }

    
}

@media only screen and (min-width: 375px) and (max-width: 425px){
    .nombre-pagina {
        font-size: 1.8em;
    }
    .imagen-titulo {
        width: 3.5em;
    }
    .contenedor-mensaje p {
        font-size: 1em;
        text-align: center;
    }

    .contenedor-posters img {
        width: 20em;
    }

    .contenedor-posters-series img {
        width: 20em;
    }
}

@media only screen and (min-width: 425px) and (max-width: 480px){
    .nombre-pagina {
        font-size: 2.2em;
    }
    .imagen-titulo {
        width: 3.5em;
    }
    .contenedor-mensaje p {
        font-size: 0.8em;
        text-align: center;
    }

    .contenedor-posters img {
        width: 22em;
    }

    .contenedor-posters-series img {
        width: 22em;
    }

    .contenedor-redes-sociales a {
        font-size: 2em;
    }
}

@media only screen and (min-width: 480px) and (max-width: 570px){
    .nombre-pagina {
        font-size: 2.2em;
    }
    .imagen-titulo {
        width: 3.5em;
    }
    
    .contenedor-mensaje p {
        font-size: 0.8em;
        text-align: center;
    }

    .contenedor-posters img {
        width: 13em;
    }

    .contenedor-posters-series img {
        width: 13em;
    }
    .contenedor-redes-sociales {
        display: flex;
        flex-direction: column;
        margin: 0 6em;
    }

    .contenedor-redes-sociales a {
        font-size: 2em;
    }

}

@media only screen and (min-width: 570px) and (max-width: 650px){
    .contenedor-header {
        margin: 0 1em;
    }
    .nombre-pagina {
        font-size: 1.5em;
        padding-top: 0.7em;
    }
    
    .carousel-item {
        height: 34em;
    }

    .imagen-titulo {
        width: 3.5em;
    }

    .nav-principal a {
        font-size: 1.2em;
    }

    .contenedor-mensaje p {
        font-size: 0.8em;
        text-align: center;
    }
    .carousel-item {
        height: 22em;
    }
    .contenedor-posters img,
    .contenedor-posters-series img {
        width: 10em;
    }

    .footer {
        margin: 0 2em;
    }
    .contenedor-redes-sociales,
    .contenedor-preguntas {
        margin: 0 2em;
    }

    .contenedor-redes-sociales div {
        margin: 0;
    }

    .flex-redes {
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media only screen and (min-width: 651px) and (max-width: 768px){
    .contenedor-header {
        margin: 0 2em;
    }

    .nombre-pagina {
        font-size: 2em;
        padding-top: 0.6em;
    }

    .contenedor-preguntas {
        margin: 0em;
    }

    .contenedor-posters-series {
        justify-content: flex-start;
        gap: 2em;
        padding-left: 2em;
    }

    .contenedor-posters-series img,
    .contenedor-posters img {
        width: 10em;
    }

    .contenedor-redes-sociales {
        margin: 0 3em 0 4em;
    }
    
    .titulo-sociales {
        margin-left: 1em;
    }
    .contenedor-preguntas h3 {
        padding-right: 6em;
        font-size: 1em;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024){
    .contenedor-redes-sociales{
        margin: 0 3em;
    }
    .contenedor-preguntas{
        margin: 0 3em;
    }
    
    .carousel-item {
        height: 30em;
    }
}