<%- include('templates/_header') %>

<main class="contenedor-serie">
    <div class="contenedor-episodio">
        <iframe src="https://wolfstream.tv/embed-4wcxwzfzdoz0.html" 
        allowfullscreen ></IFRAME>
    </div>
    <div class="seccion-episodio">
        <div>
            <h4>3x09 - Dieta</h4>
        </div>
        <div>
            <button><i class="fa-solid fa-comment"></i></button>
            <button><i class="fa-solid fa-poo"></i></button>
            <button><i class="fa-solid fa-heart"></i></button>
            <button><i class="fa-solid fa-circle-down"></i></button>
        </div>
    </div>
</main>

<%- include('templates/_footer') %>