<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/style-page.css">
        <link rel="stylesheet" href="styles/page-home.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Doodle+Shadow&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+P+One&family=Permanent+Marker&family=Rampart+One&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Concert+One&family=Madimi+One&display=swap"
            rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Lilita+One&display=swap" 
            rel="stylesheet">
        <title>Rari-Caturas TV</title>
    </head>
    <body>
        <header>
            <div class="contenedor-header">
                <a href="index.html">
                    <div class="titulo-logo-main">
                        <img
                            src="images/television-vieja.png" class="imagen-titulo"
                            alt>
                        <h1 class="nombre-pagina">RARI-CATURAS TV</h1>
                    </div>
                </a>
                <nav class="nav-principal">
                    <a href="index.html" class="activo">Inicio</a>
                    <a href="#">Series Animadas</a>
                    <a href="#">Series Live Action</a>
                    <a href="#">Adult Swim</a>
                </nav>
            </div>
        </header>
        <main>
            <div class="contenedor-mensaje">
                <p>
                    Está página nace a partir de que me eliminarón mi canal de
                    YouTube el cual ya tenia
                    más de 4 años <i class="fa-solid fa-heart-crack fa-xs"
                        style="color: #ef233c;"></i> y para
                    evitar algo parecido mejor tener las series de esta forma,
                    además así se pueden
                    ver de forma online con la opción de descargar. Por lo que
                    espero la página sea de su
                    agrado y disfruten de todo el contenido <i
                        class="fa-solid fa-face-smile-beam fa-xs"
                        style="color: #FFD43B;"></i>
                </p>
            </div>
            <div class="contenedor-series-recomendadas">
                <h2>Series recomendadas</h2>
                <div class="contenedor-posters">
                    <a href="#"><img src="images/Posters/Aqua-Teen-Poster.jpg"
                            alt></a>
                    <a href=""><img src="images/Posters/Robot-Chicken-Poster.jpg"
                            alt></a>
                    <a href="page-serie.html"><img
                            src="images/Posters/The-Venture-Bros-Poster.jpg"
                            alt></a>
                    <a href=""><img src="images/Posters/Drawn.jpeg" alt></a>
                    <a href=""><img src="images/Posters/Habin-Hotel-Poster.png"
                            alt></a>
                </div>
            </div>
        </main>
        <footer class="pie-pagina">
            <div class="contenedor-redes-sociales">
                <h3 class="titulo-sociales">Redes Sociales</h3>
                <div class="flex-redes">
                    <div>
                        <ul>
                            <li><a
                                    href="https://www.facebook.com/people/Rari-Caturas/100064650643710/"><i
                                        class="fa-brands fa-facebook"
                                        style="color: #00a8e8;"></i>Facebook</a></li>
                            <li><a href="https://www.instagram.com/rari_caturas/"><i class="fa-brands fa-instagram"
                                        style="color: #ff70a6;"></i>Instagram</a></li>
                            <li><a
                                    href="https://www.tiktok.com/@rari_caturas"><i
                                        class="fa-brands fa-tiktok"
                                        style="color: #8093f1;"></i>TikTok</a></li>
                        </ul>    
                    </div>
                    <div>
                        <ul>
                            <li><a href="https://www.youtube.com/@Rari-Caturas-Series"><i class="fa-brands fa-youtube"
                                        style="color: #ef233c;""></i>YouTube</a>
                            </li>
                            <!-- <li><a href="#"><i class="fa-solid fa-envelope"
                                        style="color: #72ddf7;"></i>Correo</a></li> -->
                            <li><a href="https://paypal.me/RariCaturas?country.x=MX&locale.x=es_XC"><i class="fa-brands fa-paypal" style="color: #FFD43B;"></i></i>PayPal</a></li>
                        </ul>
                    </div>
                </div>
           
                </div>
                     <!-- <div class="contenedor-informacion"> -->
                
                <div class="contenedor-preguntas">
                    <h3>Preguntas Frecuentes</h3>
                    <div>
                        <ul>
                            <li>
                                <a href="#">¿Cómo descargo las series?</a>
                                <a href="#">¿Se pueden hacer peticiones?</a>
                                <a href="#">¿Donde reporto un enlace roto?</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                
            <!-- </div> -->
            <!-- <h3 class="copyright">&copy Rari-Caturas - 2024</h3> -->
        </footer>
        <script src="https://kit.fontawesome.com/dc6efa34d2.js"
            crossorigin="anonymous"></script>
    </body>
</html>