<%- include('templates/_header') %>

<main class="contenedor-serie">
    <div class="contenedor-banner">
        <div class="descripcion-serie">
            <select class="selectorTemporadas"></select>
            <button><i class="fa-solid fa-circle-info"></i>Información</button>
        </div>
    </div>
    <div class="contenedor-episodios">
        <h3>Episodios</h3>
        <div class="flex-episodios"></div>
    </div>
</main>

<%- include('templates/_footer') %>