.contenedor-serie, .contenedor-episodio, .ctn-video {
    width: 100%;
}

.contenedor-episodio {
    height: 20vh;
}

.ctn-video {
    height: 100%;
}

.seccion-episodio {
    text-align: center;
    color: #fff;
    margin-top: 1rem;
}

.btn-icono {
    background-color: transparent;
    color: #fff;
    border: none;
}

.btn-icono i {
    font-size: clamp(1rem, 5vw, 3rem);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .contenedor-episodio {
        height: 50vh;
    }
}

@media screen and (min-width: 1024px) {
    .contenedor-episodio {
        height: 80vh;
    }
}