@import url('./base/variables.css');

/* Contenedor del banner */
.contenedor-banner {
    background-size: cover;
    background-position: top;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: end;
}

.descripcion-serie {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.info-serie {
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 700;
}

.logo-serie {
    margin: 1rem auto;
}

.ctn-temporadas {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.btn-temporadas {
    width: 100%;
    font-weight: 700;
    padding: 0.5rem;
    border: none;
    border-radius: 0.6rem;
}

.btn-temporadas:hover {
    background-color: #d1d0d0;
}

.nav-temporadas {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 0rem 0 0.8rem 0.8rem;
    transition: all 300ms ease-in-out;
    opacity: 0;
    z-index: 1;
}

.link-temporada {
    text-decoration: none;
    color: #000;
    padding: 0.3rem 0;
}

.link-temporada:hover {
    background-color: #d1d0d0;
}

.link-deshabilitado {
    pointer-events: none;
}

.link-habilitado {
    pointer-events: auto;
}

.border-boton {
    border-radius: 0.3rem 0.3rem 0 0;
}

.habilitado {
    opacity: 1;
    z-index: 20;
    border-radius: 0 0 0.3rem 0.3rem;
}

.ctn-info-descarga {
    width: 100%;
    text-align: center;
}

.ctn-descarga {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto 0 auto;
    position: relative;
    z-index: 10;
}

.btn-informacion {
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 0.6rem;
    border: none;
}

.btn-informacion i {
    padding-right: 0.3rem;
}

.ctn-boton-descarga {
    position: relative;
    z-index: 10;
}

.btn-descargar {
    width: 100%;
    margin: 0.5rem auto 0 auto;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
}

/*MODAL*/
.modal-info {
    width: 40%;
}

/* Contenedor de los episodios */
.contenedor-episodios {
    width: 100%;
}

.flex-episodios {
    width: 90%;
    display: grid;
    margin: 0 auto;
}

.flex-episodios a {
    color: #fff;
    text-decoration: none;
    border: solid 2px transparent;
}

.flex-episodios a:hover {
    border: solid 2px #fff;
}

.ctn-episodio {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
}

.fuente {
    text-align: center;
    color: #fff;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.contenedor-episodios h3 {
    margin: 1rem 0;
}

.ctn-img,
img {
    width: 100%;
}

.titulo-cap {
    text-align: center;
    margin: 0.8rem;
}

.titulo-cap h4 {
    text-decoration: none;
    color: #fff;
}

/* Responsive Design */
@media screen and (min-width: 768px) {
    .info-serie {
        width: 75%;
        font-size: 1rem;
    }
    
    .ctn-info-descarga {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ctn-temporadas {
        margin: 0;
    }

    .ctn-descarga {
        margin: 0;
        margin-left: 0.5rem;
    }

    .btn-descargar {
        margin-top: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    .ctn-info-descarga {
        width: 90%;
        text-align: center;
    }

    .flex-episodios {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .ctn-info-descarga {
        width: 70%;
    }

    .flex-episodios {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .ctn-info-descarga {
        width: 70%;
    }
    .flex-episodios {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 1025px) {
    .flex-episodios {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .flex-episodios {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
}