.cabecera{
    
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1{
    padding: 23px;
    /*border: 2px solid black;*/
    width: 50%;
    text-align: center;
    display: inline-block;
}

.logo{
    /*border: 2px solid black;*/
    width: 40%;
    margin-top: 20px;
}

.lista-inicio{
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
}
.lista-inicio li{
    display: inline;
    margin-right: 20px;
    font-size: 25px;
    border-radius: 20px;
    border: 2px solid black;
}


main{
    border: 2px solid black;
    width: 940px;
    margin: 10px auto;
    padding: 20px
}

.lista-series{
    width: 940px;
}

.lista-series li{
    display: inline-block;
}

.portadas{
    width: 10%;
}

.pie-pagina{
    border: 2px solid black;
    background: darkorchid;
}