<footer class="text-center">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://www.facebook.com/people/Rari-Caturas/100064650643710/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-facebook" style="color: #00a8e8;"></i>
    </a>

      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://www.instagram.com/rari_caturas/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-instagram"
                                style="color: #ff70a6;"></i>
    </a>

      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://www.tiktok.com/@rari_caturas"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-tiktok" style="color: #8093f1;"></i>
    </a>

      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://www.youtube.com/@Rari-Caturas-Series"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-youtube" style="color: #ef233c;""></i></a>
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-solid fa-envelope" style="color: #72ddf7;"></i></a>
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://paypal.me/RariCaturas?country.x=MX&locale.x=es_XC"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-paypal" style="color: #FFD43B;"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="copyright">
    © 2025 Copyright: <a class="copyright" href="https://mdbootstrap.com/">Rari-Caturas TV</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- <script src="scripts/main.js"></script> -->
<script src="https://kit.fontawesome.com/dc6efa34d2.js"
    crossorigin="anonymous"></script>
<script src="/scripts/modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>