<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/page-home.css">
        <link rel="stylesheet" href="/styles/style-page.css">
        <link rel="stylesheet" href="/styles/page-episode.css">
        <link rel="stylesheet" href="/styles/page-serie.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Concert+One&family=Madimi+One&display=swap"
            rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Lilita+One&display=swap" 
            rel="stylesheet"> 
        <link rel="shortcut icon" href="/images/clapperboard-solid.svg" type="image/x-icon">
        </head>
    <body>
        <header>
            <div class="contenedor-header">
                <div class="titulo-logo-main">
                    <img
                        src="/images/television-vieja.png" class="imagen-titulo"
                        alt>
                    <a href="/" class="nombre-pagina">RARI-CATURAS TV</a>
                </div>

                <nav class="nav-principal">
                    <a href="/" class="activo">Inicio</a>
                    <a href="#">Proximas series</a>
                    <a href="#">Series Live Action</a>
                    <!-- <a href="#">Adult Swim</a> -->
                </nav>
            </div>
        </header>
        <main>
